{% extends 'layout/base.html.twig' %}

{% block title 'Account' %}

{% block body %}

    <div class="row">
        <div class="col-md-12 mx-auto">
            <h2 class="text-center">Account
                for <span class="badge badge-info"> {{ app.user.email }}</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">

{#            <div class="card rounded-top overflow-hidden" style="width: 18rem;">#}

{#                <div class="card-body">#}
{#                    <h5 class="card-title text-left">#}
{#                      #}
{#                    </h5>#}


{#                </div>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}
