{% extends 'layout/base.html.twig' %}

{% block title  "Homepage" %}

{% block body %}
    {% if softwareList | length > 0 %}

            {% for row in softwareList|batch(3) %}
                <div class="row mb-5">
                    {% for item in row %}
                        <div class="col-md-3">
                            <h3>{{ item.name }}</h3>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-5 h1 text-center">No software yet .
                <a href="#">Be the first!</a>
            </p>
        {% endif %}

{% endblock %}
