
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/
.idea/php.xml
.idea/test-web-dev.iml
/.idea/commandlinetools/
/.idea/inspectionProfiles/
/.idea/sonarlint/
/.idea/modules.xml
/.idea/php.xml
/.idea/symfony2.xml
/.idea/test-web-dev.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/*
