<header class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Bootstrap"></a>
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">

                <img height="32" width="32" class="rounded-circle " src="#" alt="">
            </a>

            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                <p class="text-muted small text-center">ddddd</p>
                <div class="divider"></div>
                <a class="dropdown-item text-right" href="#">
                    حسابي
                    &nbsp;<i class="fa fa-user" aria-hidden="true"></i>
                </a>

                <a class="dropdown-item text-right" href="#">
                    <a class="dropdown-item text-right" href="#">
                        editer mon profil
                        &nbsp;<i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <a class="dropdown-item text-right" href="#">
                        Modifier mot de passe
                        &nbsp;<i class="fa fa-lock" aria-hidden="true"></i>
                    </a>
                    <div class="divider"></div>
                    <a class="dropdown-item text-right" href="#">
                        الاشعارت
                        &nbsp;<i class="fa fa-bell"></i>
                    </a>


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-right" href="#">
                        تسجيل الخروج
                        &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
            </div>
        </li>
    </ul>
</header>
{#<div class="container">#}
{#    <div class="row">#}
{#        {% for label, messages in app.flashes() %}#}
{#            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">#}
{#                {% for message in messages %}#}
{#                    <p>{{ message | raw }}</p>#}
{#                {% endfor %}#}
{#                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}