{% extends 'layout/base.html.twig' %}

{% block title 'Edit a software' %}
{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Edit Software</h1>
            {{ include('software/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('software/_delete_form.html.twig') }}
            <a href="{{ path('software_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
